$text-color: rgb(77, 77, 77);
$transition-time: all 0.5s;
$circle-color-resume: rgb(232, 53, 86);
$circle-color-resume-active: rgb(155, 36, 57);
$circle-color-work: rgb(97, 208, 212);
$circle-color-work-active: rgb(65, 139, 141);
$circle-color-skills: rgb(209, 201, 38);
$circle-color-skills-active: rgb(139, 134, 25);

.greeting {
    margin: 50px auto;
    color: $text-color;
    &__text{
        font-size: 29px;
    }
    &__circlebox {
        display: flex;
        flex-direction: row;
        width: 300px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &-circle {
            font-size: 13px;
            color: white;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 50%; 
            height: 80px;
            width: 90px;
            &:nth-child(1){
                transition: $transition-time;
                background-color: $circle-color-resume;
                &:hover{
                    transition: $transition-time;
                    background-color: $circle-color-resume-active;
                }
            }
            &:nth-child(2){
                transition: $transition-time;
                background-color: $circle-color-work;
                &:hover{
                    transition: $transition-time;
                    background-color: $circle-color-work-active;
                }
            }
            &:nth-child(3){
                transition: $transition-time;
                background-color: $circle-color-skills;
                &:hover{
                    transition: $transition-time;
                    background-color: $circle-color-skills-active;
                }
            }
        }
    }
}